/*
  gollum.css
  A basic stylesheet for Gollum
*/

/* @section core */
body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px; /* -> 1em */
  margin: 0;
  padding: 0;
}

#wiki-wrapper {
  margin: 0 auto;
  overflow: visible;
  width: 80%;
}


/* @section head */
#head {
  border-bottom: 1px solid #ccc;
  margin: 4.5em 0 0.5em;
  padding: 0.5em 0;
  overflow: hidden;
}

  #head h1 {
    font-size: 3.3em;
    float: left;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  #head ul.actions {
    display: block;
    float: right;
    list-style-type: none;
    overflow: hidden;
    padding: 0.6em 0 0;
  }
  
  #head ul.actions li {
    float: left;
    font-size: 1.2em;
    margin-left: 0.6em;
  }
  
  
/* @section content */
#wiki-content {
  height: 1%;
  overflow: visible;
}

  /* @section comments */
  #wiki-body #inline-comment {
    display: none; /* todo */
  }

  /* @section body */
  #wiki-body {
    float: left;
    margin-right: 5%;
    width: 70%;
  }
