*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-gemset
.ruby-version
.rvmrc
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
