<a href="javascript:void(0)">
  <img src="{{base_url}}/images/man_24.png" alt="avatar: {{author}}"
    class="mini-gravatar identicon" data-identicon="{{identicon}}"/>
  <span class="username">{{author}}</span>
</a>
