<a href="javascript:void(0)">
  <img src="{{#sprockets_image_path}}man_24.png{{/sprockets_image_path}}" alt="avatar: {{author}}"
    class="mini-gravatar identicon" data-identicon="{{identicon}}"/>
  <span class="username">{{author}}</span>
</a>