<a href="javascript:void(0)">
  <img src="{{#image_path_mustache}}man_24.png{{/image_path_mustache}}" alt="avatar: {{author}}"
    class="mini-gravatar identicon" data-identicon="{{identicon}}"/>
  <span class="username">{{author}}</span>
</a>