<nav>
  <div style="background-color: red;">NAVBAR_OVERRIDE</div>

  <p>Still include an original partial to ensure the fallback works even when nested from an overridden partial:</p>
  <div>
    {{>mobilenav}}
  </div>
</nav>
