<div id="wiki-wrapper" class="page">

<p>Include an overridden partial:</p>
<div id="head">
	{{#navbar?}}{{>navbar}}{{/navbar?}}
</div>

<div style="background-color: red;">PAGE_OVERRIDE</div>

{{>wiki_content}}

</div>
