// Helpers

// Get path for named route, prefixing baseUrl if necessary
// Uses the route definitions in /lib/gollum/views/helpers.rb.
// For example, routePath('delete') is equivalent to 'delete_path' in the mustache templates.
function routePath(name){
  var routes = $.parseJSON('<%= routes_to_json %>')
  path = routes[name]
  if (baseUrl == undefined ) {
    console.log('Gollum error: baseUrl undefined')
  } else if (path == undefined ) {
    console.log('Could not find route with name: ' + name)
  } else {
      if ( baseUrl == "") {
        return path;
      } else if (baseUrl.charAt(baseUrl.length -1) == '/') {
        result = baseUrl + path;
      } else {
        result = baseUrl + '/' + path;
      }
    return result.replace(/\/{2}/g, '/')
  }
}

function pageName(){
  // "my/dir/file.md" => "file"
  if (typeof(pageFullPath) == 'undefined') {
      return undefined;
  } else {
      name = pageFullPath.split('/').pop();
      return name.substring(0, name.lastIndexOf('.'));
  } 
}

function pagePath(){
  // "my/dir/file" => "my/dir"
  return typeof(pageFullPath) == 'undefined' ? undefined : pageFullPath.split('/').slice(0,-1).join('/');
}

// Generic HTML escape function
function htmlEscape( str ) {
  // The (slower) alternative is: return $('<div/>').text(str).html();
  // http://stackoverflow.com/questions/1219860/javascript-jquery-html-encoding/7124052#7124052
  return String(str)
    .replace(/&/g, '&amp;')
    .replace(/"/g, '&quot;')
    .replace(/'/g, '&#39;')
    .replace(/</g, '&lt;')
    .replace(/>/g, '&gt;');
}

// Given a page name and a current path, returns a fully qualified path.
function abspath(path, name){
  // Make sure the given path starts at the root.
  if(name[0] != '/'){
    name = '/' + name;
    if (path) {
      name = '/' + path + name;
    }
  }
  var name_parts = name.split('/');
  var newPath = name_parts.slice(0, -1).join('/');
  var newName = name_parts.pop();
  // return array of [path, name]
  return [newPath, newName];
}

// ua
$(document).ready(function() {
  // for deleting the current page
  $('#delete-link').click( function(e) {
    var ok = confirm($(this).data('confirm'));
    if ( ok ) {
      $.post(routePath('delete') + '/' + pageFullPath,
        {},
        function (result) {
          // page successfully deleted, return to landing page
          window.location = '/';
        });
    }
    // Don't navigate on cancel.
    e.preventDefault();
  } );
  // for deleting files and pages from the overview
  $('.delete-file').click( function(e) {
    var ok = confirm($(this).data('confirm'));
    if ( ok ) {
      var element = $(this);
      $.post(routePath('delete') + '/' + $(this).data('file-path'),
        {},
        function (result) {
          // file successfully deleted, stay on overview but remove element from DOM
          element.closest("li").remove();
        });
    }
    // Don't navigate on cancel.
    e.preventDefault();
  } );


  var nodeSelector = {
    node1: null,
    node2: null,

    selectNodeRange: function( n1, n2 ) {
      if ( nodeSelector.node1 && nodeSelector.node2 ) {
        $('#wiki-history td.selected').removeClass('selected');
        nodeSelector.node1.addClass('selected');
        nodeSelector.node2.addClass('selected');

        // swap the nodes around if they went in reverse
        if ( nodeSelector.nodeComesAfter( nodeSelector.node1,
                                          nodeSelector.node2 ) ) {
          var n = nodeSelector.node1;
          nodeSelector.node1 = nodeSelector.node2;
          nodeSelector.node2 = n;
        }

        var s = true;
        var $nextNode = nodeSelector.node1.next();
        while ( $nextNode ) {
          $nextNode.addClass('selected');
          if ( $nextNode[0] == nodeSelector.node2[0] ) {
            break;
          }
          $nextNode = $nextNode.next();
        }
      }
    },

    nodeComesAfter: function ( n1, n2 ) {
      var s = false;
      $(n1).prevAll().each(function() {
        if ( $(this)[0] == $(n2)[0] ) {
          s = true;
        }
      });
      return s;
    },

    checkNode: function( nodeCheckbox ) {
      var $nodeCheckbox = nodeCheckbox;
      var $node = $(nodeCheckbox).parent().parent();
      // if we're unchecking
      if ( !$nodeCheckbox.is(':checked') ) {

        // remove the range, since we're breaking it
        $('#wiki-history tr.selected').each(function() {
          if ( $(this).find('td.checkbox input').is(':checked') ) {
            return;
          }
          $(this).removeClass('selected');
        });

        // no longer track this
        if ( $node[0] == nodeSelector.node1[0] ) {
          nodeSelector.node1 = null;
          if ( nodeSelector.node2 ) {
            nodeSelector.node1 = nodeSelector.node2;
            nodeSelector.node2 = null;
          }
        } else if ( $node[0] == nodeSelector.node2[0] ) {
          nodeSelector.node2 = null;
        }

      } else {
        if ( !nodeSelector.node1 ) {
          nodeSelector.node1 = $node;
          nodeSelector.node1.addClass('selected');
        } else if ( !nodeSelector.node2 ) {
          // okay, we don't have a node 2 but have a node1
          nodeSelector.node2 = $node;
          nodeSelector.node2.addClass('selected');
          nodeSelector.selectNodeRange( nodeSelector.node1,
                                        nodeSelector.node2 );
        } else {
          // we have two selected already
          $nodeCheckbox[0].checked = false;
        }
      }
    }
  };


  // ua detection
  if ($.browser.mozilla) {
    $('body').addClass('ff');
  } else if ($.browser.webkit) {
    $('body').addClass('webkit');
  } else if ($.browser.msie) {
    $('body').addClass('ie');
    if ($.browser.version == "7.0") {
      $('body').addClass('ie7');
    } else if ($.browser.version == "8.0") {
      $('body').addClass('ie8');
    }
  }

  if ($('#minibutton-upload-page').length) {
    $('#minibutton-upload-page').parent().removeClass('jaws');
    $('#minibutton-upload-page').click(function(e) {
      e.preventDefault();
      
      $.GollumDialog.init({
        title: 'Upload File',
        fields: [
          {
            type:   'file',
            context: 'Your uploaded file will be accessible at<br>/'+uploadDest+'/[filename]',
            action: routePath('upload_file')
          }
        ],
        OK: function( res ) {
          $('#wiki-content').addClass('uploading');
          var formData = new FormData($('#upload').get(0));
          var endpoint = $('#upload').attr("action");

          $.ajax({
            url: endpoint,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
              // File successfully uploaded
              $('#wiki-content').removeClass('uploading');
            },
            error: function(data, textStatus, errorThrown) {
              $('#wiki-content').removeClass('uploading');
              if (data.status == 409) {
                alert('This file already exists.');  
              } else {
                alert('Error uploading file: ' + textStatus + ' ' + errorThrown);
              }  
            }
          });
        }
      });
      $('#gollum-dialog-action-ok').attr('disabled', true);
      $('input:file').on('change', function() {
        if ($(this).val()) {
          news = 'Your uploaded file will be accessible at<br>/' + uploadDest + '/' + $('input[type=file]').val().split('\\').pop();
          $(".context").html(news);
          $('#gollum-dialog-action-ok').attr('disabled', false);

        };
      });
    });
  }

  if ($('#minibutton-rename-page').length) {
    $('#minibutton-rename-page').parent().removeClass('jaws');
    $('#minibutton-rename-page').click(function(e) {
      e.preventDefault();

      var path = pagePath();
      var oldName = pageName();
      var context_blurb =
        "Renamed page will be under " +
        "<span class='path'>" + htmlEscape('/' + path) + "</span>" +
        " unless an absolute path is given."

      $.GollumDialog.init({
        title: 'Rename Page',
        fields: [
          {
            id:   'name',
            name: 'Rename to',
            type: 'text',
            defaultValue: oldName || '',
            context: context_blurb
          }
        ],
        OK: function( res ) {
          var newName = 'Rename Page';
          if ( res['name'] ) {
            newName = res['name'];
          }
          var name_parts = abspath(path, newName);
          var newPath = name_parts[0];

          var msg = '/' + path == newPath ? 'Renamed ' + oldName + ' to ' + newName
                                          : 'Renamed ' + oldName + ' to ' + name_parts.join('/');
          // Fill in the rename form
          // This is preferable to AJAX so that we automatically follow the 302 response.
          var rename_form = $("form[name=rename]");
          rename_form.children("input[name=rename]").val(name_parts.join('/'));
          rename_form.children("input[name=message]").val(msg);
          rename_form.submit();
        }
      });
    });
  }

  if ($('#minibutton-new-page').length) {
    $('#minibutton-new-page').parent().removeClass('jaws');
    $('#minibutton-new-page').click(function(e) {
      e.preventDefault();

      var path = pagePath();
      if( path === undefined && $('#file-browser').length != 0 ){
        // In the pages view, pageFullPath isn't defined.
        // The new button will still expect a value however.
        // So we try to figure one out from window.location
        path = window.location.pathname.replace(routePath('pages'), '')
        // For consistency remove the trailing /
        path = path.replace(/\/$/,'')
      }
      var context_blurb =
        "Page will be created under " +
        "<span class='path'>" + htmlEscape('/' + path) + "</span>" +
        " unless an absolute path is given."

      $.GollumDialog.init({
        title: 'Create New Page',
        fields: [
          {
            id:   'name',
            name: 'Page Name',
            type: 'text',
            defaultValue: '',
            context: context_blurb
          }
        ],
        OK: function( res ) {
          var name = 'New Page';
          if ( res['name'] ) {
            name = res['name'];
          }
          var name_encoded = [];
          var name_parts = abspath(path, name).join('/').split('/');
          // Split and encode each component individually.
          for( var i=0; i < name_parts.length; i++ ){
            name_encoded.push(encodeURIComponent(name_parts[i]));
          }
          window.location =  routePath('create') + name_encoded.join('/');
        }
      });
    });
  }

  if ($('#wiki-wrapper').hasClass('history')) {
    $('#wiki-history td.checkbox input').each(function() {
      $(this).click(function() {
        nodeSelector.checkNode($(this));
      });
      if ( $(this).is(':checked') ) {
        nodeSelector.checkNode($(this));
      }
    });

    if ($('.history a.action-compare-revision').length) {
      $('.history a.action-compare-revision').click(function() {
        $("#version-form").submit();
      });
    }
  }

  if ($('#searchbar a#search-submit').length) {
    $.GollumPlaceholder.add($('#searchbar #search-query'));
    $('#searchbar a#search-submit').click(function(e) {
      e.preventDefault();
      $('#searchbar #search-form')[0].submit();
    });
    $('#searchbar #search-form').submit(function(e) {
      $.GollumPlaceholder.clearAll();
      $(this).unbind('submit');
      $(this).submit();
    });
  }

  if ($('#gollum-revert-form').length &&
      $('.gollum-revert-button').length ) {
    $('a.gollum-revert-button').click(function(e) {
      e.preventDefault();
      $('#gollum-revert-form').submit();
    });
  }

  if( $('#wiki-wrapper.edit').length ){
    $("#gollum-editor-submit").click( function() { window.onbeforeunload = null; } );
    $("#gollum-editor-body").one('change', function(){
      window.onbeforeunload = function(){ return "Leaving will discard all edits!" };
    });
    $.GollumEditor();
    $("#gollum-editor-submit").click( function(e) {
      e.preventDefault();
      // Prevent button from being clicked again
      $(this).attr('disabled', true);

      var formData = new FormData($('#gollum-editor-form').get(0));
      var endpoint = $('#gollum-editor-form').attr("action");

      $.ajax({
        url: endpoint,
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
          window.location = window.location.href.replace(/gollum\/edit\//, '')
        },
        error: function(data, textStatus, errorThrown) {
          if (data.status == 412) {
            $('#gollum-editor-submit').attr('disabled', false)
            alert('Someone else has modified this page while you were editing it. Please store your version on disk outside of the browser, reload this page and reapply your modifications.');
          } else {
            alert('Error updating page: ' + textStatus + ' ' + errorThrown);
          }  
        }
      });
      
    });
  }

  if( $("#last-edit").length ) {
    $("#page-info-toggle").click ( function () {
      $.ajax({
        url: routePath('last_commit_info'),
        data: {path: $("#page-info-toggle").data('pagepath')},
        success: function ( data ) {
          $("#last-edit").html('Last edited by <b>' + data.author + '</b>, ' + data.date);
        }
      });
      $("#last-edit").html('<i class="fa fa-spinner fa-spin"></i> Getting commit info...');
    })
  }

  if( $('#wiki-wrapper.create').length ){
    $("#gollum-editor-submit").click( function() { window.onbeforeunload = null; } );
    $("#gollum-editor-body").one('change', function(){
      window.onbeforeunload = function(){ return "Leaving will not create a new page!" };
    });
    $.GollumEditor({ NewFile: true, MarkupType: default_markup });
  }

  // CriticMarkup
  if(criticMarkup == 'true') {
    $('#wiki-content').addClass('criticmarkup');
    $('ins.break').unwrap();
    $('span.critic.comment').wrap('<span class="popover" />');
    $('span.critic.comment').filter(function() {return $(this).text()!="";}).before('&#8225;');
  }

  if( $('#wiki-history').length ){
    var lookup = {};
    $('img.identicon').each(function(index, element){
      var $item   = $(element);
      var code    = parseInt($item.data('identicon'), 10);
      var img_bin = lookup[code];
      if( img_bin === undefined ){
        var size = 16;
        var canvas = $('<canvas width=16 height=16/>').get(0);
        render_identicon(canvas, code, 16);
        img_bin = canvas.toDataURL("image/png");
        lookup[code] = img_bin;
      }
      $item.attr('src', img_bin);
    });
  }
});
