/*
  template.css
  Wiki content formatting
  Keeping this file separate so it can be easily swapped out if you 
  want to format your wiki content differently from the default.
*/

#template {
  margin-bottom: 4em; /* Give it some breathing room */
}

.has-footer #template {
  margin: 0;
}

#template p {
  font-size: 1.4em;
  line-height: 1.6em;
}

  /* See http://webtypography.net/Rhythm_and_Proportion/ */
  #template p + p {
    margin: -0.75em 0 0;
    text-indent: 1em;
  }
  
  /* Everybody loves type ornaments */
  #template p:last-child:after {
    color: #999;
    content: " âˆ";
    font-size: 0.8em;
  }
  
  #template blockquote p:last-child:after {
    content: none;
  }

#template a:link {
  color: #4183c4;
  text-decoration: none;
}

#template a:hover, #template a:visited {
  text-decoration: underline;
}
  
#template ul, #template ol {
  margin: 1.0em 0 0 2.0em;
  list-style-position: outside;
  padding: 0;
  
}

#template p + ul, #template p + ol,
#template ul li > ul, #template ol li > ol {
  margin-top: 0;
}

#template ul li > ul, #template ol li > ol {
  margin-left: 0;
}

  #template ul {
    list-style-type: square;
  }
  
  #template ol li > ol li {
    font-size: 1.0em !important;
    list-style-type: lower-roman;
    list-style-position: inside;
  }
  
  #template ol li > ol li > ol li {
    list-style-type: lower-alpha;
  }
  
  #template ol li > ol li > ol li > ol li {
    list-style-type: lower-greek;
  }

#template ul li, #template ol li {
  font-size: 1.4em;
  line-height: 1.6em;
  padding-top: 0.1em; /* Line up ordinals */
}

#template blockquote {
  margin: 0 4.0em 0 2.0em;
  padding: 0;
}

  #template blockquote p {
    color: #888;
    font-style: italic;
  }


/* Headings */
#template h1, #template h2, #template h3,
#template h4, #template h5, #template h6 {
  margin: 0;
  padding: 0.5em 0 0;
}

#template h1 {
  font-size: 2.6em;
  font-weight: bold;
}

#template h2 {
  font-size: 2.2em;
  font-weight: bold;
}

#template h3 {
  font-size: 2.0em;
  font-weight: bold;
}

#template h4 {
  font-size: 1.8em;
  font-weight: bold;
}

#template h5 {
  font-size: 1.6em;
  font-weight: bold;

}

#template h6 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1.0em;
  text-transform: uppercase; /* all caps */
}


/* Code-related */
#template p code {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  color: #222; /* This is a little heavy when #000 */
  font-family: Consolas, Monaco, "Courier New", monospace;
  padding: 0.15em 0.3em;
}