<div id="wiki-wrapper" class="compare">
<div id="head">
  <h1>History for <strong>{{path}}</strong></h1>

  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
       class="action-view-page">View Page</a></li>
    {{#allow_editing}}
      <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}"
         class="action-edit-page">Edit Page</a></li>
    {{/allow_editing}}
    <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
       class="action-page-history">Page History</a></li>
  </ul>
</div>

{{#message}}
<p>{{message}}</p>
{{/message}}

<div id="compare-content">

  {{#show_revert}}
  <ul class="actions">
    <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
       class="action-page-history">Back to Page History</a></li>
    {{#allow_editing}}
      <li class="minibutton">
        <form name="gollum-revert" action="{{base_url}}/revert/{{escaped_url_path}}/{{before}}/{{after}}" method="post" id="gollum-revert-form">
        <a href="#" class="gollum-revert-button">Revert Changes</a>
        </form>
      </li>
    {{/allow_editing}}
  </ul>
  {{/show_revert}}

  <div class="data highlight">
    <table cellpadding="0" cellspacing="0">
      {{#lines}}
        <tr>
          <td class="line_numbers">{{ldln}}</td>
          <td class="line_numbers">{{rdln}}</td>
          <td>
            <pre><div class="{{class}}">{{line}}</div></pre>
          </td>
        </tr>
      {{/lines}}
    </table>
  </div>
</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
       class="action-page-history">Back to Page History</a></li>
    {{#show_revert}}
    {{#allow_editing}}
      <li class="minibutton">
        <a href="#" class="gollum-revert-button">Revert Changes</a>
      </li>
    {{/allow_editing}}
    {{/show_revert}}
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>
</div>
