<div id="wiki-wrapper" class="create">
<div id="head">
  <h1>Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-sidebar">
    {{>editor}}
  </div>
</div>
</div>
<script type="text/javascript">
var default_markup = '{{default_markup}}';
</script>
{{something}}
