<div id="wiki-wrapper" class="create">
<div id="head">
	{{>navbar}}
  <h1 class="py-4">Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="tabnav">
    <nav class="tabnav-tabs" aria-label="Toggle edit or preview mode">
      <a href="#" id="edit" class="tabnav-tab selected" aria-current="page">
        Edit
      </a>
      <a href="#" id="preview" class="tabnav-tab">Preview</a>
    </nav>
  </div>

  <div class="has-sidebar tabnav-div" id="edit-content">
    {{>editor}}
  </div>
	<div class="tabnav-div" id="preview-content">
	</div>
</div>
</div>
{{something}}
