<div id="wiki-wrapper" class="create">
<div id="head">
	{{>navbar}}
  <h1 class="py-4">Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
	<div class="tabnav">
	  <nav class="tabnav-tabs" aria-label="Foo bar">
	    <a href="#" id="edit" class="tabnav-tab selected" aria-current="edit">Edit</a>
	    <a href="#" id="preview" class="tabnav-tab" aria-current="preview">Preview</a>
	  </nav>
	</div>
	
  <div class="has-sidebar tabnav-div" id="edit-content">
    {{>editor}}
  </div>
	<div class="tabnav-div" id="preview-content">
	</div>
</div>
</div>
{{something}}
