<div id="wiki-wrapper" class="edit">
  <div id="head">
    {{>navbar}}

    <h1 class="header-title text-center text-md-left py-4">
      {{t.title}}
    </h1>
  </div>

  <div class="tabnav">
    <nav class="tabnav-tabs">
      <button id="edit" class="tabnav-tab selected" aria-current="page">
        {{t.edit}}
      </button>

      <button id="preview" class="tabnav-tab">
        {{t.preview}}
      </button>
    </nav>
  </div>

  <div class="tabnav-div" id="edit-content">{{>editor}}</div>
	<div class="tabnav-div" id="preview-content"></div>
</div>
