<div id="wiki-wrapper" class="edit">
<div id="head">
  <h1>Editing <strong>{{title}}</strong></h1>
  <ul class="actions">
		<li class="minibutton"><a href="{{base_url}}/"
       class="action-home-page">Home</a></li>
    <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
       class="action-view-page">View Page</a></li>
     <li class="minibutton"><a href="{{history_path}}/{{escaped_url_path}}"
       class="action-page-history">Page History</a></li>
  </ul>
</div>
  <div id="wiki-content">{{>editor}}</div>
</div>
