<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/_styles.css" media="all">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/custom.css" media="all">{{/css}}
  {{#js}}<script type="text/javascript" src="{{base_url}}/custom.js"></script>{{/js}}
  <title>{{title}}</title>
</head>
<body>

<div id="home_button">
  <ul class="actions">
    <li class="minibutton">
      <a href="{{base_url}}/" class="action-home-page">Home</a>
    </li>
  </ul>
</div>

{{#has_results}}
  <div id="results">
  {{{results}}}
  </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_results}}
</body>
</html>
