<div id="wiki-wrapper" class="history">
<div id="head">
  <h1><strong>{{title}}</strong></h1>
  <ul class="actions">
    <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
       class="action-view-page">Home</a></li>
  </ul>
</div>
<div id="wiki-history">

  <fieldset>
  <table>
    <tbody>

      {{#versions}}
      <tr>
        <td class="author">
            {{>author_template}}
        </td>
        <td class="commit-name">
          <span class="time-elapsed" title="{{date_full}}">{{date}}:</span>&nbsp;
          {{message}}
          [{{id7}}]
          {{#files}}
          <br>
          <a href="{{link}}">{{file}}</a>
          {{/files}}
        </td>
      </tr>
      {{/versions}}

    </tbody>
  </table>
  </fieldset>
</div>
<div id="footer">

</div>
</div>
