<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/custom.css" media="all">{{/css}}

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/ie7.css" media="all">
  <![endif]-->

  <script>
      var baseUrl = '{{base_url}}';
      {{#page}}
      var pageFullPath = '{{url_path_display}}';
      {{/page}}
  </script>
  <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/mousetrap.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.placeholder.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/editor/gollum.editor.js"></script>
  {{#use_identicon}}
  <script type="text/javascript" src="{{base_url}}/javascript/identicon_canvas.js"></script>
  {{/use_identicon}}
  {{#mathjax}}
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath:  [ ['\\(','\\)'] ],
      displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
      processEscapes: true
    },
    TeX: { extensions: ["autoload-all.js"] }});
  </script>
  <script>(function(d,j){
  j = d.createElement('script');
  j.src = 'https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
  (d.head || d.getElementsByTagName('head')[0]).appendChild(j);
  }(document));
  </script>{{/mathjax}}
  {{#js}}<script type="text/javascript" src="{{base_url}}/custom.js"></script>{{/js}}

  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
</html>
