<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/print.css" media="print">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{custom_path}}/custom.css" media="all">{{/css}}
  {{#noindex}}<meta name="robots" content="noindex, nofollow" />{{/noindex}}

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/ie7.css" media="all">
  <![endif]-->

  <script>
      var baseUrl = '{{base_url}}';
      var uploadDest   = '{{upload_dest}}';
      {{#page}}
      var pageFullPath = '{{url_path_display}}';
      {{/page}}
  </script>
  <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/mousetrap.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.placeholder.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/editor/gollum.editor.js"></script>
  {{#use_identicon}}
  <script type="text/javascript" src="{{base_url}}/javascript/identicon_canvas.js"></script>
  {{/use_identicon}}
  {{#mathjax}}
  {{^mathjax_config}}
  <script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath:  [ ['$','$'], ['\\(','\\)'] ],
      displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
      processEscapes: true
    },
    TeX: { extensions: ["autoload-all.js"] }
  };
  </script>
  {{/mathjax_config}}
  {{#mathjax_config}}
  <script type="text/javascript" src="{{base_url}}/{{mathjax_config}}"></script>
  {{/mathjax_config}}
  <script>(function(d,j){
  j = d.createElement('script');
  j.src = '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
  (d.head || d.getElementsByTagName('head')[0]).appendChild(j);
  }(document));
  </script>{{/mathjax}}
  {{#js}}<script type="text/javascript" src="{{custom_path}}/custom.js"></script>{{/js}}

  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
</html>
