<!DOCTYPE html>
<html>
<head>
<title>Live Preview</title>
<link rel='stylesheet' type='text/css' href='../css/template.css' />
<link rel='stylesheet' type='text/css' href='css/custom.css' />
</head>

<body>
<div id='editor'></div>
<div id='previewframe'><div id='contentframe' class='markdown-body'></div></div>
<!-- tool panel from notepage.es. save & savecomment icons from Retina Display Icon Set. -->
<div id='toolpanel' class='toolpanel edit' style='width: 500px; right: 0px; visibility: hidden;'>
  <a id='preview' class='edit'><img src='images/globe_24.png' alt='Preview' title='Preview'></a>
  <a id='save' class='edit'><img src='images/save_24.png' alt='Save' title='Save'></a>
  <a id='savecomment' class='edit'><img src='images/savecomment_24.png' alt='Save with comment' title='Save with comment'></a>
  <a id='toggle' class='edit' href='javascript:void(0)' onclick='jsm.toggleLeftRight();'><img src='images/lr_24.png' alt='Toggle left to right' title='Toggle left to right'></a>
</div>

<div id='editor_bg' class='editor_bg'></div>
<div class='toolpanel_bg'></div>

<div id='commenttoolpanel' class='toolpanel edit' style='width: 500px; right: 0px; '>
  <a id='savecommentconfirm' class='edit'><img src='images/savecomment_24.png' alt='Confirm save with comment' title='Confirm save with comment'></a>
  <a id='commentcancel' class='edit'><img src='images/cancel_24.png' alt='Cancel save with comment' title='Cancel save with comment'></a>
</div>
<div id='comment'></div>
<div id='darkness'></div>

<script>
var require = {
  paths: {
    ace: 'js/ace/lib/ace'
  }
};
</script>
<script src='js/requirejs.min.js'></script>
<script src='../javascript/jquery-1.7.2.min.js'></script>
<script src='js/jquery.ba-throttle-debounce.min.js'></script>
<script src='js/sundown.js'></script>
<script src='js/md_sundown.js'></script>
<script src='js/livepreview.js'></script>
{{#mathjax}}
{{^mathjax_config}}
<script type="text/javascript">
window.MathJax = {
tex2jax: {
  inlineMath:  [ ['$','$'], ['\\(','\\)'] ],
  displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
  processEscapes: true
},
TeX: { extensions: ["autoload-all.js"] }
};
</script>
{{/mathjax_config}}
{{#mathjax_config}}
<script type="text/javascript" src="{{base_url}}/{{mathjax_config}}"></script>
{{/mathjax_config}}
<script>(function(d,j){
j = d.createElement('script');
j.src = '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
(d.head || d.getElementsByTagName('head')[0]).appendChild(j);
}(document));
</script>{{/mathjax}}
</body>
</html>
