<nav class="TableObject
            actions
            border-bottom
            border-md-0
            p-2
            pt-lg-4
            px-lg-0
            overflow-x-scroll">
  <div class="TableObject-item hide-lg hide-xl">
    {{>mobilenav}}
  </div>

  <div class="TableObject-item hide-sm hide-md" tabindex="0">
    <a id="minibutton-home" class="btn btn-sm" href="{{page_route}}">Home</a>
  </div>

  <div class="TableObject-item TableObject-item--primary px-2"
    {{^search}}style="visibility:hidden"{{/search}} >
    {{>searchbar}}
  </div>

  <div class="TableObject-item hide-sm hide-md">
    <div class="BtnGroup d-flex">
      {{#overview}}
        <a href="{{overview_path}}" class="btn BtnGroup-item btn-sm" id="minibutton-overview"><div tabindex="0">Overview</div></a>
      {{/overview}}

      {{#latest_changes}}
        <a href="{{latest_changes_path}}" class="btn BtnGroup-item btn-sm" id="minibutton-latest-changes"><div tabindex="0">Latest Changes</div></a>
      {{/latest_changes}}
    </div>
  </div>

  <div class="TableObject-item px-2">
    <div class="BtnGroup d-flex">
      {{#history}}
        <a href="{{history_path}}/{{escaped_url_path}}/{{version}}" id="minibutton-history" class="btn BtnGroup-item btn-sm hide-sm hide-md">
          <div tabindex="0">History</div>
        </a>
      {{/history}}

      {{#allow_editing}}
        {{#allow_uploads}}
          <button class="btn BtnGroup-item btn-sm hide-sm hide-md minibutton-upload-page">
            Upload
          </button>
        {{/allow_uploads}}

        {{#editable}}
          <button class="btn BtnGroup-item btn-sm hide-sm hide-md minibutton-rename-page">
            Rename
          </button>
            <a href="{{edit_path}}/{{escaped_url_path}}" id="minibutton-edit-page" class="btn BtnGroup-item btn-sm hide-sm hide-md">
              <div tabindex="0">Edit</div>
            </a>
        {{/editable}}
      {{/allow_editing}}
    </div>
  </div>

  {{#allow_editing}}
    {{#editable}}
      <div class="TableObject-item">
        <button class="btn btn-primary btn-sm minibutton-new-page">
          New
        </button>
      </div>
    {{/editable}}

    {{^editable}}
      {{#newable}}
        <div class="TableObject-item">
          <button class="btn btn-primary btn-sm minibutton-new-page">
            New
          </button>
        </div>
      {{/newable}}
    {{/editable}}
  {{/allow_editing}}
</nav>
