<nav class="actions pt-4">
	
	<div class="TableObject">
		<div class="TableObject-item">
	    <a class="btn" id="minibutton-home" href="{{page_route}}">Home</a>
	  </div>


  	<div class="TableObject-item TableObject-item--primary px-2" {{^search}}style="visibility:hidden"{{/search}}>
			{{>searchbar}}
	  </div>
		
	  <div class="TableObject-item">
	    {{#overview}}<a class="btn" id="minibutton-overview" href="{{overview_path}}">Overview</a>{{/overview}}
			{{#latest_changes}}<a class="btn" id="minibutton-latest-changes" href="{{latest_changes_path}}">Latest Changes</a>{{/latest_changes}}
	  </div>
	
		{{#history}}
		<div class="TableObject-item pl-1">
			<a class="btn" id="minibutton-history" href="{{history_path}}/{{escaped_url_path}}">Page History</a>
		</div>
		{{/history}}
		
    {{#allow_editing}}
		  <div class="TableObject-item pl-1">
				{{#allow_uploads}}
					<a class="btn" id="minibutton-upload-page" href="#">Upload</a>
	    	{{/allow_uploads}}
				{{#editable}}
					<a class="btn" id="minibutton-rename-page" href="#">Rename</a>
					<a class="btn" id="minibutton-edit-page" href="{{edit_path}}/{{escaped_url_path}}">Edit</a>
					<a class="btn btn-primary" id="minibutton-new-page" href="#">New</a>
				{{/editable}}
				{{^editable}}
					{{#newable}}
						<a class="btn btn-primary" id="minibutton-new-page" href="#">New</a>
					{{/newable}}
				{{/editable}}
			</div>
		{{/allow_editing}}
			
	</div>
</nav>