<div id="wiki-wrapper" class="results">
<div id="head" style="border:none;">
  <h1>{{title}}</h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/"
       class="action-home-page">Home</a></li>
    {{#allow_editing}}
      <li class="minibutton jaws">
      <a href="#" id="minibutton-new-page">New</a></li>
    {{/allow_editing}}
  </ul>
</div>
<div id="pages">

{{#has_results}}
  <div id="file-browser">
    <div class="breadcrumb">
      {{{breadcrumb}}}
    </div>
    <ul>
      {{{files_folders}}}
    </ul>
  </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_results}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

