<div id="wiki-wrapper" class="page">
<div id="head">
	{{#navbar?}}{{>navbar}}{{/navbar?}}
</div>

{{>wiki_content}}

<form name="rename" method="POST" action="{{rename_path}}/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>

</div>