<div id="pagination">
	{{#previous_page}}
	  <span class="prev">
	    <a href="?page_num={{previous_page}}">&laquo; Previous</a>
	  </span>
	{{/previous_page}}

	<span>&nbsp;</span>

	{{#next_page}}
	  <span class="next">
	    <a href="?page_num={{next_page}}">Next &raquo;</a>
	  </span>
	{{/next_page}}
</div>
