<nav class="paginate-container" aria-label="{{t.pagination.aria.label}}">
  <div class="pagination" id="pagination">
    <a
      aria-label="{{t.pagination.aria.previous_page}}"
      class="previous_page {{^previous_page}}disabled{{/previous_page}}"
      href="?page_num={{previous_page}}{{query_string}}"
      id="prev"
      rel="prev"
    >
      {{t.pagination.previous}}
    </a>

    <a
      aria-label="{{t.pagination.aria.next_page}}"
      class="next_page {{^next_page}}disabled{{/next_page}}"
      href="?page_num={{next_page}}{{query_string}}"
      id="next"
      rel="next"
    >
      {{t.pagination.next}}
    </a>
  </div>
</nav>
