Date Originated

Date Updated

### Product Details

Photo
_____

### Item Information
| Field | Value  |
| --- | --- |
| Item # | X12345 |
| DAX Description | DESCRIPTION |
| Item Description | DESCRIPTION |
| Type | C |
| Plug | Plug/Hardwired |
| Mount | something |
| Location | Indoor |
| Configuration | Simple w/ options |
| Country of Origin | Imported |
| Photo From | Studio/Vendor |
| Z Number | 123 |

### Materials

#### Available Finishes

| Finish | Available? |
| --- | --- |
| AK | X |
| BK |   |
| BN |   |
| BA |   |
| OB |   |
| OL |   |
| PC |   |
| PN |   |
| UN |   |
| Other: | |

### Dimensions
| Dimension|Direction|Value in Fractions|
|-------|------|-------|
|Width/Diameter|Side to Side| 123|
|Length/Height|Top to Bottom| 123|
|Depth/Projection|Front to Back| 123|
|Shade Holder Size||123|
|Socket Count||123|
|Wattage||60W|


### Other Information

#### Special Features/Benefits
Information here

**Historical Style/Period**  Replace Me

#### Historical Background
Information Here

#### Care Instructions
Information Here

**Base Price**  Replace Me


### Lauch details

** Launch Date ** date
** Seasonal? ** Yes/No
** Quick Ship? ** sdf
** Drop Ship? ** sdf
** Customized? ** sdf
** Standard Lead Time ** sdf
** Shades Seperate Ship? ** sdf
** Channels ** sdf
** Featured Finish ** Finish
** Featured Shade ** Default
** Build Renderings? ** Yes/No

#### Additional Notes
Notes here
