Date Originated

## Product Details

Product Photo Here

## Item Information
| Field | Value  |
| --- | --- |
| Item # | X12345 |
| DAX Description | DESCRIPTION |
| Item Description | DESCRIPTION |
| Type | C |
| Plug | Plug/Hardwired |
| Mount | Mount |
| Location | Indoor |
| Configuration | Simple w/ options |
| Country of Origin | Imported |
| Photo From | Studio/Vendor |
| Z Number | 123 |

#### Kitted Product?
  - Child Item 1
  - Child Item 2

## Materials

#### Materials


#### Available Finishes and/or Colors

Mark available finishes with an X

| Finish | Available? |
| --- | :---: |
| AK  |  X  |
| BK  |     |
| BN  |     |
| BA  |     |
| OB  |     |
| OL  |     |
| PC  |     |
| PN  |     |
| UN  |     |
| Other: |  |

### Dimensions
| Dimension|Direction|Value |
|-------|------|-------|
|Width/Diameter   |Side to Side |  |
|Length/Height    |Top to Bottom|  |
|Depth/Projection |Front to Back|  |
|Shade Holder Size|             |  |
|Socket Count     |             |  |
|Wattage          |             |  |
|Weight/Volume    |             |  |
|Measurements to be loaded in Vault?| |  |


### Other Information

#### Special Features/Benefits


#### Historical Style/Period


#### Historical Background


#### Care Instructions

| Field | Value |
| ----- | ----- |
| Base Price/Price | $0.00 |
| Trade Discount | |
| Drop Ship? |  |
| Shipping Method | White Glove, UPS, Freight |
| Surcharge |  |
| Exclude from Free Ship? |  |
| All-Time Free Ship? |  |
| Center to Center |  |


### Lauch details

| Field | Value |
| ----- | ----- |
| Launch Date (MM/YYYY) | 01/2014 |
| Seasonal? | Yes/No |
| If Seasonal - Markdown Date? | Estimated Date |
| Quick Ship? | Yes/No |
| Drop Ship? | Yes/No |
| Customized? | Yes/No |
| If Customized - Lead Time? | Time |
| Standard Lead Time | Time |
| Shades Ship Separately? | Yes/No |
| Channels | Web, Catalog, Retail |
| Featured Finish | Finish |
| Featured Shade | Default |
| Style of Mounting | Style |
| Assembly Required | Yes/No |
| Build Renderings? | Yes/No |

#### Installation Comments


#### Additional Notes


## Tags
<!-- Delete This Line - Examples: catalog3-2014, christmas, lighting, july2014 -->
