Date Originated

## Product Details

#### Special Features/Benefits
Information here

#### Historical Style/Period
Replace Me

#### Historical Background
Information Here

_____

## Item Information
| Field | Value  |
| --- | --- |
| Item # | X12345 |
| DAX Description | DESCRIPTION |
| Item Description | DESCRIPTION |
| Type | C |
| Plug | Plug/Hardwired |
| Mount | Mount |
| Location | Indoor |
| Configuration | Simple w/ options |
| Country of Origin | Imported |
| Photo From | Studio/Vendor |
| Z Number | 123 |

#### Kitted Product?
  - Child Item 1
  - Child Item 2

## Materials

#### Materials
List materials

#### Available Finishes and/or Colors

| Finish | Available? |
| --- | --- |
| AK  |  X  |
| BK  |     |
| BN  |     |
| BA  |     |
| OB  |     |
| OL  |     |
| PC  |     |
| PN  |     |
| UN  |     |
| Other: |  |

### Dimensions
| Dimension|Direction|Value |
|-------|------|-------|
|Width/Diameter   |Side to Side | Fraction |
|Length/Height    |Top to Bottom| Fraction |
|Depth/Projection |Front to Back| Fraction |
|Shade Holder Size|             | Fraction |
|Socket Count     |             | 123 |
|Wattage          |             | 60W |
| Weight/Volume   |             |     |
| Measurments to be loaded in Vault?| |  |


### Other Information

#### Care Instructions
Information Here

| Field | Value |
| ----- | ----- |
| Price | $0.00 |
| Trade Discount | % |
| Drop Ship? |  |
| Shipping Method | White Glove, UPS, Freight |
| Surcharge |  |
| Exclude from Free Ship? |  |
| All-Time Free Ship? |  |
| Center to Center |  |


**Base Price**  Replace Me


### Lauch details

| Field | Value |
| ----- | ----- |
| Launch Date | date |
| Seasonal? | Yes/No |
| If Seasonal - Markdown Date? | Estimated Date |
| Quick Ship? | Yes/No |
| Drop Ship? | Yes/No |
| Customized? | Yes/No |
| If Customized - Lead Time? | Time |
| Standard Lead Time | Time |
| Shades Seperate Ship? | Yes/No |
| Channels | Web, Catalog, Retail |
| Featured Finish | Finish |
| Featured Shade | Default |
| Style of Mounting | Style |
| Assembly Required | Yes/No |
| Build Renderings? | Yes/No |

#### Installation Comments
Installation Comments Here

#### Additional Notes
Notes here

## Tags
  EX: catalog3-2014, christmas, lighting
