<div id="wiki-wrapper" class="results">
  <div id="head">
    {{>navbar}}
    <h1 class="py-4"><span class="f1-light text-gray-light">Search results for</span> {{name}}</h1>
  </div>

<div id="results">

{{#has_results}}
  <ul>
    {{#results}}
      <li>
        <a href="{{base_url}}/{{name}}">{{name}}</a>
        {{#context}}
        <br/>{{.}}
        {{/context}}
      </li>
    {{/results}}
  </ul>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no results for your search <strong>{{query}}</strong>.
  </p>
{{/no_results}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

