<form class="search-form" action="{{search_path}}" method="get" id="search-form">
	<input type="text" class="form-control input-block" name="q" id="search-query" placeholder="Search" aria-label="Search site" autocomplete="off">
</form>