<div id="wiki-wrapper" class="results">
  <div id="head">
    {{>navbar}}

    <h1 class="header-title text-center text-md-left py-4">
      <span class="f1-light text-gray-light">
        {{t.search_results_for}}
      </span>
      {{name}}
    </h1>
  </div>

{{#has_results}}

  {{>pagination}}

<div class="Box Box--condensed search-results" id="search-results">
  <ul>
  <div class="Box-header border-bottom p-0"></div>
  {{#results}}
    <li class="Box-row Box-row--gray">
      <span class="Counter Counter--gray tooltipped tooltipped-w" aria-label="{{filename_count}} hits in filename - {{count}} hits in content">{{filename_count}} - {{count}}</span>&nbsp;
      <span class="text-bold"><a href="{{href}}">{{name}}</a></span>
      <button
        class="btn-link tooltipped tooltipped-w float-right toggle-context"
        aria-label="{{t.aria.show_all}}"
      >
        {{#octicon}}search{{/octicon}}
      </button>
    </li>

    <div class="search-context">
      {{#context}}
      <li class="Box-row border-0"><span class="text-italic">{{.}}</span></li>
      {{/context}}
    </div>
  {{/results}}
  </ul>
</div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    {{t.no_results}} <strong>{{query}}</strong>.
  </p>
{{/no_results}}

<div id="footer" class="mt-4">
  <a class="btn" href="#">{{t.back_to_top}}</a>
</div>

</div>
</div>

