<div id="wiki-wrapper" class="results">
<div id="head">
  <h1>Search Results for <strong>{{query}}</strong></h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/"
       class="action-home-page">Home</a></li>
  </ul>
</div>
<div id="results">

{{#has_results}}
  <ul>
    {{#results}}
    <li>
      <a href="{{base_url}}/{{name}}">{{name}}</a>
      <span class="count">({{count}} matches)</span>
    </li>
    {{/results}}
  </ul>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no results for your search <strong>{{query}}</strong>.
  </p>
{{/no_results}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

