<form class="search-form" action="{{search_path}}" method="get" id="search-form">
	<input type="text" class="form-control input-block input-sm" name="q" id="search-query" placeholder="{{tt.searchbar.placeholder}}" aria-label="{{tt.searchbar.aria.label}}" autocomplete="off">
</form>