<p> Welcome to the Rejuvenation Product Wiki. Please sign in to continue</p>
<form action='/authenticate' method='post'>
  <label for="username">Username</label>
  <input type="text" name="username"/>
  <label for="password">Password</label>
  <input type="password" name="password"/>
  <button type="submit">Submit</submit>
</form>
