<p>Welcome to the Rejuvenation Product Wiki</p>

<p>Please sign in to continue</p>

<form action="/authenticate" type="post">
  <label>Username</label>
  <input type="text" name="username"/>
  <br/>
  <label>Password</label>
  <input type="password" name="password"/>
  <button type="submit">Sign In</button>
</form>
