<div id="user">
    <p>
    {{#user_authed}}
      {{user_name}} | {{user_provider}} | <strong><a href="/__omnigollum__/logout">[Logout]</a></strong>
    {{/user_authed}}
    {{^user_authed}}
      not logged in | <strong><a href="/__omnigollum__/login">[Login]</a></strong>
    {{/user_authed}}
    <p>
</div>
