<div id="wiki-content">
	<h1 class="pt-4">{{page_header}}</h1>
	<div class="breadcrumb">{{{breadcrumb}}}</div>
	

	<div class="{{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-sidebar has-{{bar_side}}bar{{/has_sidebar}}{{#has_toc}} has-toc{{/has_toc}}">
	  {{#has_toc}}
	  <div id="wiki-toc-main">
	    {{{toc_content}}}
	  </div>
	  {{/has_toc}}
	  {{#has_sidebar}}
	  <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
	    <div id="sidebar-content" class="Box Box--condensed col-3 markdown-body px-4 float-{{bar_side}}">
	      {{{sidebar_content}}}
	    </div>
	  </div>
	  {{/has_sidebar}}
	  <div id="wiki-body" class="gollum-{{format}}-content overflow-hidden {{#left_bar}}pl-4{{/left_bar}}">
	    {{#has_header}}
	    <div id="wiki-header" class="gollum-{{header_format}}-content">
	      <div id="header-content" class="markdown-body">
	        {{{header_content}}}
	      </div>
	    </div>
	    {{/has_header}}
	    <div class="markdown-body {{#header_enum?}}header-enum{{/header_enum?}}" {{#header_enum?}}style="--header-enum-style:{{header_enum_style}};"{{/header_enum?}}>
	      {{{rendered_metadata}}}
	      {{{content}}}
	    </div>
	  </div>
	  {{#has_footer}}
	  <div id="wiki-footer" class="gollum-{{footer_format}}-content">
	    <div id="footer-content" class="Box Box-condensed markdown-body pl-2">
	      {{{footer_content}}}
	    </div>
	  </div>
	  {{/has_footer}}


	</div>


	<div id="footer" class="pt-4">
	  {{^historical}}
		{{^preview}}
		  <p id="last-edit"><div class="dotted-spinner hidden"></div> <a id="page-info-toggle" data-pagepath="{{escaped_url_path}}">When was this page last modified?</a></p>
		  {{#allow_editing}}
		    <p>
		      <a id="delete-link" href="{{escaped_url_path}}" data-confirm="Are you sure you want to delete this page?"><span>Delete this Page</span></a>
		    </p>
	      {{/allow_editing}}
		{{/preview}}
	  {{/historical}}
	  {{#historical}}
	    <p>This version of the page was edited by <b>{{author}}</b> at {{date}}. <a href="{{full_url_path}}">View the most recent version.</a></p>
	  {{/historical}}
	</div>

	
</div>
