<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="css/template.css" media="all">
  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
</html>
