<div id="wiki-wrapper" class="compare">
<div id="head">
  <h1>History for <strong>{{path}}</strong></h1>

  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="/{{escaped_name}}"
       class="action-view-page">View Page</a></li>
    <li class="minibutton"><a href="/edit/{{escaped_name}}"
       class="action-edit-page">Edit Page</a></li>
    <li class="minibutton"><a href="/history/{{escaped_name}}"
       class="action-page-history">Page History</a></li>
  </ul>
</div>

{{#message}}
<p>{{message}}</p>
{{/message}}

<div id="compare-content">

  {{#show_revert}}
  <ul class="actions">
    <li class="minibutton"><a href="/history/{{escaped_name}}"
       class="action-page-history">Back to Page History</a></li>
    <li class="minibutton">
      <form name="gollum-revert" action="/revert/{{escaped_name}}/{{before}}/{{after}}" method="post" id="gollum-revert-form">
      <a href="#" class="gollum-revert-button">Revert Changes</a>
      </form>
    </li>
  </ul>
  {{/show_revert}}

  <div class="data highlight">
    <table cellpadding="0" cellspacing="0">
      {{#lines}}
        <tr>
          <td class="line_numbers">{{ldln}}</td>
          <td class="line_numbers">{{rdln}}</td>
          <td>
            <pre><div class="{{class}}">{{line}}</div></pre>
          </td>
        </tr>
      {{/lines}}
    </table>
  </div>
</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="/history/{{escaped_name}}"
       class="action-page-history">Back to Page History</a></li>
    {{#show_revert}}
    <li class="minibutton">
      <a href="#" class="gollum-revert-button">Revert Changes</a>
    </li>
    {{/show_revert}}
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>
</div>
