<div id="wiki-wrapper" class="compare">
<div id="head">
  <h1>History for <strong>{{path}}</strong></h1>
  <ul class="actions">
    <li class="minibutton"><a href="/history/{{escaped_name}}"
       class="action-page-history">Back to Page History</a></li>
  </ul>
  {{>searchbar}}
</div>
<div id="compare-content">
  <div class="data highlight">
    <table cellpadding="0" cellspacing="0" width="100%">
      {{#lines}}
        <tr>
          <td class="line_numbers">{{ldln}}</td>
          <td class="line_numbers">{{rdln}}</td>
          <td width="100%">
            <pre><div class="{{class}}">{{line}}</div></pre>
          </td>
        </tr>
      {{/lines}}
    </table>
  </div>
</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="/history/{{escaped_name}}"
       class="action-page-history">Back to Page History</a></li>
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>
</div>