<div id="wiki-wrapper">
<div id="head">
  <h1>Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-rightbar">
    {{>editor}}
  </div>
</div>
</div>
<script type="text/javascript">
window.onbeforeunload = function(){ return "Leaving will not create a new page!" };
$("#gollum-editor-submit").click( window.onbeforeunload = null; );

jQuery(document).ready(function() {
  $.GollumEditor({ NewFile: true, MarkupType: '{{default_markup}}' });
});
</script>

{{something}}
