<div id="wiki-wrapper">
<div id="head">
  <h1>Create New Page</h1>
  <ul class="actions">
    <li class="minibutton"><a href="/" class="action-edit-page">Home</a></li>
  </ul>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-rightbar">
    {{>editor}}
  </div>
</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
  $.GollumEditor({ NewFile: true, MarkupType: '{{default_markup}}' });
});
</script>

{{something}}
