<h1>Editing {{name}}</h1>

<form method="post" action="/edit/{{name}}">
  <div>
    <textarea name="content">{{content}}</textarea>
  </div>
  <div>
    <input type="submit" value="Save page" />
  </div>
</form>