<div id="gollum-editor">
<form name="gollum-editor" action="/create/{{escaped_name}}" method="post">
  <div id="gollum-editor-title-field">
    <label for="page">Page Title</label>
    <input type="text" name="page" id="gollum-editor-page-title" value="{{page_name}}">
  </div>
  <div id="gollum-editor-function-bar">
    <a href="#" id="function-bold" class="function-button">
      <span>Bold</span></a>
    <a href="#" id="function-italic" class="function-button">
      <span>Italic</span></a>
    <a href="#" id="function-code" class="function-button">
      <span>Code</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-ul" class="function-button">
      <span>Unordered List</span></a>
    <a href="#" id="function-ol" class="function-button">
      <span>Ordered List</span></a>
    <a href="#" id="function-blockquote" class="function-button">
      <span>Blockquote</span></a>
    
    <a href="#" id="function-hr" class="function-button">
      <span>Horizontal Rule</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-h1" class="function-button">
      <span>h1</span></a>
    <a href="#" id="function-h2" class="function-button">
      <span>h2</span></a>
    <a href="#" id="function-h3" class="function-button">
      <span>h3</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-link" class="function-button">
      <span>Link</span></a>
    <a href="#" id="function-image" class="function-button">
      <span>Image</span></a>
  </div>
  <fieldset id="gollum-editor-fields">
    <textarea id="gollum-editor-body"
     data-markup-lang="markdown" name="content">{{content}}</textarea>
    <span class="br"><br></span>
    <input type="submit" id="gollum-editor-submit" value="Save" title="Save current changes">
  </fieldset>
</form>
</div>