<div id="editbar">
  <div class="menu">
    <div class="group group-separator">
      <span title="Link" class="link button">Link</span>
      <span title="Image" class="image button">Image</span>
    </div>
    <div class="group group-separator">
      <span title="Bold" class="bold button">Bold</span>
      <span title="Italic" class="italic button">Italic</span>
    </div>
    <div class="group group-separator">
      <span title="Unordered List" class="ul button">Unordered List</span>
      <span title="Ordered List" class="ol button">Ordered List</span>
    </div>
    <div class="group">
      <span class="tab help">
        <a href="#">Help</a>
      </span>
    </div>
    <div class="group group-right">
      <span class="tab format">
        Format:
        <select id="wiki_format" name="format">
          {{#formats}}
            <option {{#selected}}selected="true" {{/selected}}value="{{id}}">{{name}}</option>
          {{/formats}}
        </select>
      </span>
    </div>
  </div>
  <div class="sections">
    <div class="toc">
      <div class="headers">Headers</div>
      <div class="links gollum">Links</div>
      <div class="images gollum">Images</div>
      <div class="code gollum">Code</div>
      <div class="formatting">Formatting</div>
      <div class="lists">Lists</div>
      <div class="math gollum">Math</div>
    </div>
    <div class="pages">

      <!-- Gollum Links -->

      <div class="page gollum links">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Internal link</td>
            <td>
              <pre>[[Page Title]]</pre>
              <pre>[[Link Label|Page Title]]</pre>
            </td>
            <td>
              <a href="Page-Title">Page Title</a><br />
              <a href="Page-Title">Link Label</a>
            </td>
          </tr>
          <tr>
            <td>External link</td>
            <td>
              <pre>[[http://example.com]]</pre>
              <pre>[[Example|http://example.com]]</pre>
            </td>
            <td>
              <a href="http://example.com">http://example.com</a><br />
              <a href="http://example.com">Example</a>
            </td>
          </tr>
          <tr>
            <td>File link</td>
            <td>
              <pre>[[Absolute PDF|/images/example.pdf]]</pre>
              <pre>[[Relative PDF|example.pdf]]</pre>
            </td>
            <td>
              <a href="/images.example.pdf">Absolute PDF</a><br />
              <a href="/example.pdf">Relative PDF</a>
            </td>
          </tr>
          <tr>
            <td>Escaped link</td>
            <td>
              <pre>'[[Page Title]]</pre>
            </td>
            <td>
              [[Page Title]]
            </td>
          </tr>
        </table>
      </div>

      <!-- Gollum Images -->

      <div class="page gollum images">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th width="25%">What you get</th>
          </tr>
          <tr>
            <td>Basic internal image</td>
            <td>
              <pre>[[/images/example.png]]</pre>
            </td>
            <td>
              <img src="/images/example.png" />
            </td>
          </tr>
          <tr>
            <td>Basic external image</td>
            <td>
              <pre>[[http://example.com/example.png]]</pre>
            </td>
            <td>
              <img src="/images/example.png" />
            </td>
          </tr>
          <tr>
            <td>Image with alt text</td>
            <td>
              <pre>[[/example.png|alt=Shapes]]</pre>
            </td>
            <td>
              <img src="/images/example.png" alt="Shapes" />
            </td>
          </tr>
          <tr>
            <td>Image with frame and caption</td>
            <td>
              <pre>[[/example.png|frame|alt=Shapes]]</pre>
            </td>
            <td>
              <div class="wikistyle"><span class="frame"><span><img src="/images/example.png" alt="Shapes" /><span>Shapes</span></span></span></div>
            </td>
          </tr>
          <tr>
            <td>Image with specific width</td>
            <td>
              <pre>[[/example.png|width=40px]]</pre>
            </td>
            <td>
              <img src="/images/example.png" width="40px" />
            </td>
          </tr>
          <tr>
            <td>Image with specific height</td>
            <td>
              <pre>[[/example.png|height=40px]]</pre>
            </td>
            <td>
              <img src="/images/example.png" height="40px" />
            </td>
          </tr>
          <tr>
            <td>Image aligned left</td>
            <td>
              <pre>The quick brown fox jumps.</pre>
              <pre> </pre>
              <pre>[[/example.png|align=left]]</pre>
            </td>
            <td>
              <div class="wikistyle">
                <p>The quick brown fox jumps.</p>
                <p><span class="align-left"><span><img src="/images/example.png" alt="Shapes" /></span></span></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>Image aligned center</td>
            <td>
              <pre>The quick brown fox jumps.</pre>
              <pre> </pre>
              <pre>[[/example.png|align=center]]</pre>
            </td>
            <td>
              <div class="wikistyle">
                <p>The quick brown fox jumps.</p>
                <p><span class="align-center"><span><img src="/images/example.png" alt="Shapes" /></span></span></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>Image aligned right</td>
            <td>
              <pre>The quick brown fox jumps.</pre>
              <pre> </pre>
              <pre>[[/example.png|align=right]]</pre>
            </td>
            <td>
              <div class="wikistyle">
                <p>The quick brown fox jumps.</p>
                <p><span class="align-right"><span><img src="/images/example.png" alt="Shapes" /></span></span></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>Image floated left</td>
            <td>
              <pre>The quick brown fox jumps
[[/example.png|float|align=left]]
over the lazy dog and feels as
if he were in seventh heaven.</pre>
            </td>
            <td>
              <div class="wikistyle">
                <p>The quick brown fox jumps <span class="float-left"><span><img src="/images/example.png" alt="Shapes" /></span></span> over the lazy dog and feels as if he were in seventh heaven.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>Image floated left</td>
            <td>
              <pre>The quick brown fox jumps
[[/example.png|float|align=right]]
over the lazy dog and feels as
if he were in seventh heaven.</pre>
            </td>
            <td>
              <div class="wikistyle">
                <p>The quick brown fox jumps <span class="float-right"><span><img src="/images/example.png" alt="Shapes" /></span></span> over the lazy dog and feels as if he were in seventh heaven.</p>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Gollum Code -->

      <div class="page gollum code">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Hilighted Code block</td>
            <td><pre>```ruby<span class="invisible">¬</span>
<span class="invisible">··</span>def foo<span class="invisible">¬</span>
<span class="invisible">····</span>puts 'bar'<span class="invisible">¬</span>
<span class="invisible">··</span>end<span class="invisible">¬</span>
```</pre></td>
            <td><div class="highlight"><pre><span class="k">def</span> <span class="nf">foo</span>
  <span class="nb">puts</span> <span class="s1">'bar'</span>
<span class="k">end</span>
</pre>
</div></td>
          </tr>
        </table>
        <table class="shortcodes" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th colspan="2">Language Identifiers for use in Hilighted Code Blocks</th>
          </tr>
          <tr>
            <td>
              <ul>
                <li><b>ABAP</b>: abap</li>
                <li><b>ActionScript</b>: as, actionscript</li>
                <li><b>ActionScript 3</b>: as3, actionscript3</li>
                <li><b>Ada</b>: ada, ada95ada2005</li>
                <li><b>ANTLR</b>: antlr</li>
                <li><b>ANTLR With ActionScript Target</b>: antlr-as, antlr-actionscript</li>
                <li><b>ANTLR With C# Target</b>: antlr-csharp, antlr-c#</li>
                <li><b>ANTLR With CPP Target</b>: antlr-cpp</li>
                <li><b>ANTLR With Java Target</b>: antlr-java</li>
                <li><b>ANTLR With ObjectiveC Target</b>: antlr-objc</li>
                <li><b>ANTLR With Perl Target</b>: antlr-perl</li>
                <li><b>ANTLR With Python Target</b>: antlr-python</li>
                <li><b>ANTLR With Ruby Target</b>: antlr-ruby, antlr-rb</li>
                <li><b>ApacheConf</b>: apacheconf, aconf, apache</li>
                <li><b>AppleScript</b>: applescript</li>
                <li><b>aspx-cs</b>: aspx-cs</li>
                <li><b>aspx-vb</b>: aspx-vb</li>
                <li><b>Asymptote</b>: asy, asymptote</li>
                <li><b>Bash</b>: bash, sh, ksh</li>
                <li><b>Bash Session</b>: console</li>
                <li><b>Batchfile</b>: bat</li>
                <li><b>BBCode</b>: bbcode</li>
                <li><b>Befunge</b>: befunge</li>
                <li><b>Boo</b>: boo</li>
                <li><b>Brainfuck</b>: brainfuck, bf</li>
                <li><b>C</b>: c</li>
                <li><b>C#</b>: csharp, c#</li>
                <li><b>C++</b>: cpp, c++</li>
                <li><b>c-objdump</b>: c-objdump</li>
                <li><b>cfstatement</b>: cfs</li>
                <li><b>Cheetah</b>: cheetah, spitfire</li>
                <li><b>Clojure</b>: clojure, clj</li>
                <li><b>CMake</b>: cmake</li>
                <li><b>CoffeeScript</b>: coffee-script, coffeescript</li>
                <li><b>Coldufsion HTML</b>: cfm</li>
                <li><b>Common Lisp</b>: common-lisp, cl</li>
                <li><b>cpp-objdump</b>: cpp-objdump, c++-objdumb, cxx-objdump</li>
                <li><b>CSS</b>: css</li>
                <li><b>CSS+Django/Jinja</b>: css+django, css+jinja</li>
                <li><b>CSS+Genshi Text</b>: css+genshitext, css+genshi</li>
                <li><b>CSS+Mako</b>: css+mako</li>
                <li><b>CSS+Myghty</b>: css+myghty</li>
                <li><b>CSS+PHP</b>: css+php</li>
                <li><b>CSS+Ruby</b>: css+erb, css+ruby</li>
                <li><b>CSS+Smarty</b>: css+smarty</li>
                <li><b>Cython</b>: cython, pyx</li>
                <li><b>D</b>: d</li>
                <li><b>d-objdump</b>: d-objdump</li>
                <li><b>Darcs Patch</b>: dpatch</li>
                <li><b>Debian Control file</b>: control</li>
                <li><b>Debian Sourcelist</b>: sourceslist, sources.list</li>
                <li><b>Delphi</b>: delphi, pas, pascal, objectpascal</li>
                <li><b>Diff</b>: diff, udiff</li>
                <li><b>Django/Jinja</b>: django, jinja</li>
                <li><b>Dylan</b>: dylan</li>
                <li><b>Embedded Ragel</b>: ragel-em</li>
                <li><b>ERB</b>: erb</li>
                <li><b>Erlang</b>: erlang</li>
                <li><b>Erlang erl session</b>: erl</li>
                <li><b>Evoque</b>: evoque</li>
                <li><b>Felix</b>: felix, flx</li>
                <li><b>Fortran</b>: fortran</li>
                <li><b>GAS</b>: gas</li>
                <li><b>Genshi</b>: genshi, kid, xml+genshi, xml+kid</li>
                <li><b>Genshi Text</b>: genshitext</li>
                <li><b>Gettext Catalog</b>: pot, po</li>
                <li><b>Gherkin</b>: Cucumber, cucumber, Gherkin, gherkin</li>
                <li><b>GLSL</b>: glsl</li>
                <li><b>Gnuplot</b>: gnuplot</li>
                <li><b>Go</b>: go</li>
                <li><b>Groff</b>: groff, nroff, man</li>
                <li><b>Haml</b>: haml, HAML</li>
                <li><b>Haskell</b>: haskell, hs</li>
                <li><b>haXe</b>: hx, haXe</li>
                <li><b>HTML</b>: html</li>
                <li><b>HTML+Cheetah</b>: html+cheetah, html+spitfire</li>
                <li><b>HTML+Django/Jinja</b>: html+django, html+jinja</li>
                <li><b>HTML+Evoque</b>: html+evoque</li>
                <li><b>HTML+Genshi</b>: html+genshi, html+kid</li>
                <li><b>HTML+Mako</b>: html+mako</li>
                <li><b>HTML+Myghty</b>: html+myghty</li>
                <li><b>HTML+PHP</b>: html+php</li>
                <li><b>HTML+Smarty</b>: html+smarty</li>
                <li><b>INI</b>: ini, cfg</li>
              </ul>
            </td>
            <td>
              <ul>
                <li><b>Io</b>: io</li>
                <li><b>IRC logs</b>: irc</li>
                <li><b>Java</b>: java</li>
                <li><b>Java Server Page</b>: jsp</li>
                <li><b>JavaScript</b>: js, javascript</li>
                <li><b>Lighttpd configuration file</b>: lighty, lighttpd</li>
                <li><b>Literate Haskell</b>: lhs, literate-haskell</li>
                <li><b>LLVM</b>: llvm</li>
                <li><b>Logtalk</b>: logtalk</li>
                <li><b>Lua</b>: lua</li>
                <li><b>Makefile</b>: make, makefile, mf, bsdmake</li>
                <li><b>Makefile</b>: basemake</li>
                <li><b>Mako</b>: mako</li>
                <li><b>Matlab</b>: matlab, octave</li>
                <li><b>Matlab session</b>: matlabsession</li>
                <li><b>MiniD</b>: minid</li>
                <li><b>Modelica</b>: modelica</li>
                <li><b>Modula-2</b>: modula2, m2</li>
                <li><b>MoinMoin/Trac Wiki markup</b>: trac-wiki, moin</li>
                <li><b>MOOCode</b>: moocode</li>
                <li><b>MuPAD</b>: mupad</li>
                <li><b>MXML</b>: mxml</li>
                <li><b>Myghty</b>: myghty</li>
                <li><b>MySQL</b>: mysql</li>
                <li><b>NASM</b>: nasm</li>
                <li><b>Newspeak</b>: newspeak</li>
                <li><b>Nginx configuration file</b>: nginx</li>
                <li><b>NumPy</b>: numpy</li>
                <li><b>objdump</b>: objdump</li>
                <li><b>Objective-C</b>: objective-c, objectivec, obj-c, objc</li>
                <li><b>Objective-J</b>: objective-j, objectivej, obj-j, objj</li>
                <li><b>OCaml</b>: ocaml</li>
                <li><b>Ooc</b>: ooc</li>
                <li><b>Perl</b>: perl, pl</li>
                <li><b>PHP</b>: php, php3, php4, php5</li>
                <li><b>POVRay</b>: pov</li>
                <li><b>Prolog</b>: prolog</li>
                <li><b>Python</b>: python, py</li>
                <li><b>Python 3</b>: python3, py3</li>
                <li><b>Python 3.0 Traceback</b>: py3tb</li>
                <li><b>Python console session</b>: pycon</li>
                <li><b>Python Traceback</b>: pytb</li>
                <li><b>Ragel</b>: ragel</li>
                <li><b>Ragel in C Host</b>: ragel-c</li>
                <li><b>Ragel in CPP Host</b>: ragel-cpp</li>
                <li><b>Ragel in D Host</b>: ragel-d</li>
                <li><b>Ragel in Java Host</b>: ragel-java</li>
                <li><b>Ragel in Objective C Host</b>: ragel-objc</li>
                <li><b>Ragel in Ruby Host</b>: ragel-ruby, ragel-rb</li>
                <li><b>Raw token data</b>: raw</li>
                <li><b>RConsole</b>: rconsole, rout</li>
                <li><b>REBOL</b>: rebol</li>
                <li><b>Redcode</b>: redcode</li>
                <li><b>reStructuredText</b>: rst, rest, restructuredtext</li>
                <li><b>RHTML</b>: rhtml, html+erb, html+ruby</li>
                <li><b>Ruby</b>: rb, ruby</li>
                <li><b>Ruby irb session</b>: rbcon, irb</li>
                <li><b>S</b>: splus, s, r</li>
                <li><b>Sass</b>: sass, SASS</li>
                <li><b>Scala</b>: scala</li>
                <li><b>Scheme</b>: scheme, scm</li>
                <li><b>Smalltalk</b>: smalltalk, squeak</li>
                <li><b>Smarty</b>: smarty</li>
                <li><b>SQL</b>: sql</li>
                <li><b>sqlite3con</b>: sqlite3</li>
                <li><b>SquidConf</b>: squidconf, squid.conf, squid</li>
                <li><b>Tcl</b>: tcl</li>
                <li><b>Tcsh</b>: tcsh, csh</li>
                <li><b>TeX</b>: tex, latex</li>
                <li><b>Text only</b>: text</li>
                <li><b>Vala</b>: vala, vapi</li>
                <li><b>VB.net</b>: vb.net, vbnet</li>
                <li><b>VimL</b>: vim</li>
                <li><b>XML</b>: xml</li>
                <li><b>XML+Cheetah</b>: xml+cheetah, xml+spitfire</li>
                <li><b>XML+Django/Jinja</b>: xml+django, xml+jinja</li>
                <li><b>XML+Evoque</b>: xml+evoque</li>
                <li><b>XML+Mako</b>: xml+mako</li>
                <li><b>XML+Myghty</b>: xml+myghty</li>
                <li><b>XML+PHP</b>: xml+php</li>
                <li><b>XML+Ruby</b>: xml+erb, xml+ruby</li>
                <li><b>XML+Smarty</b>: xml+smarty</li>
                <li><b>XSLT</b>: xslt</li>
                <li><b>YAML</b>: yaml</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

      <!--================================================================-->
      <!-- Formatting                                                     -->
      <!--================================================================-->

      <!-- Asciidoc Formatting -->

      <div class="page asciidoc formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>*bold text*</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>_italic text_</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Monospace</td>
            <td><pre>+monospace text+</pre></td>
            <td><tt>monospace text</tt></td>
          </tr>
          <tr>
            <td>Single quoted</td>
            <td><pre>`single quoted text'</pre></td>
            <td>‘single quoted text’</td>
          </tr>
          <tr>
            <td>Double quoted</td>
            <td><pre>``double quoted text''</pre></td>
            <td>“double quoted text”</td>
          </tr>
          <tr>
            <td>Superscript</td>
            <td><pre>x^2^</pre></td>
            <td>x<sup>2</sup></td>
          </tr>
          <tr>
            <td>Subscript</td>
            <td><pre>H~2~O</pre></td>
            <td>H<sub>2</sub>O</td>
          </tr>
        </table>
      </div>

      <!-- Creole Formatting -->

      <div class="page creole formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>**bold text**</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>//italic text//</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Monospace</td>
            <td><pre>{<span>{</span>{monospace text}<span>}</span>}</pre></td>
            <td><tt>monospace text</tt></td>
          </tr>
        </table>
      </div>

      <!-- Markdown Formatting -->

      <div class="page markdown formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>**bold text**</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>*italic text*</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Inline code</td>
            <td><pre>`inline code`</pre></td>
            <td><div class="wikistyle"><code>inline code</code></div></td>
          </tr>
        </table>
      </div>

      <!-- Orgmode Formatting -->

      <div class="page org formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>*bold text*</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>/italic text/</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Inline code</td>
            <td><pre>=inline code=</pre></td>
            <td><div class="wikistyle"><code>inline code</code></div></td>
          </tr>
        </table>
      </div>

      <!-- Pod Formatting -->

      <div class="page pod formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>B&lt;bold text&gt;</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>I&lt;italic text&gt;</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Inline code</td>
            <td><pre>C&lt;inline code&gt;</pre></td>
            <td><div class="wikistyle"><code>inline code</code></div></td>
          </tr>
        </table>
      </div>

      <!-- RDoc Formatting -->

      <div class="page rdoc formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>*bold text*</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>_italic text_</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Monospace</td>
            <td><pre>+monospace text+</pre></td>
            <td><tt>monospace text</tt></td>
          </tr>
        </table>
      </div>

      <!-- reStructuredText Formatting -->

      <div class="page rest formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>**bold text**</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>*italic text*</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Monospace</td>
            <td><pre>``monospace text``</pre></td>
            <td><tt>monospace text</tt></td>
          </tr>
        </table>
      </div>

      <!-- Textile Formatting -->

      <div class="page textile formatting">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Bold</td>
            <td><pre>*bold text*</pre></td>
            <td><b>bold text</b></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><pre>_italic text_</pre></td>
            <td><i>italic text</i></td>
          </tr>
          <tr>
            <td>Inline code</td>
            <td><pre>@inline code@</pre></td>
            <td><div class="wikistyle"><code>inline code</code></div></td>
          </tr>
        </table>
      </div>

      <!--================================================================-->
      <!-- Headers                                                        -->
      <!--================================================================-->

      <!-- Asciidoc, Creole Headers -->

      <div class="page asciidoc creole rdoc headers">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>First level heading</td>
            <td><pre>= Heading Text</pre></td>
            <td><h1>Heading Text</h1></td>
          </tr>
          <tr>
            <td>Second level heading</td>
            <td><pre>== Heading Text</pre></td>
            <td><h2>Heading Text</h2></td>
          </tr>
          <tr>
            <td>Third level heading</td>
            <td><pre>=== Heading Text</pre></td>
            <td><h3>Heading Text</h3></td>
          </tr>
        </table>
      </div>

      <!-- Orgmode Headers -->

      <div class="page org headers">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>First level heading</td>
            <td><pre>* Heading Text</pre></td>
            <td><h1>Heading Text</h1></td>
          </tr>
          <tr>
            <td>Second level heading</td>
            <td><pre>** Heading Text</pre></td>
            <td><h2>Heading Text</h2></td>
          </tr>
          <tr>
            <td>Third level heading</td>
            <td><pre>*** Heading Text</pre></td>
            <td><h3>Heading Text</h3></td>
          </tr>
        </table>
      </div>

      <!-- Markdown Headers -->

      <div class="page markdown headers">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>First level heading</td>
            <td><pre># Heading Text</pre></td>
            <td><h1>Heading Text</h1></td>
          </tr>
          <tr>
            <td>Second level heading</td>
            <td><pre>## Heading Text</pre></td>
            <td><h2>Heading Text</h2></td>
          </tr>
          <tr>
            <td>Third level heading</td>
            <td><pre>### Heading Text</pre></td>
            <td><h3>Heading Text</h3></td>
          </tr>
        </table>
      </div>

      <!-- Pod Headers -->

      <div class="page pod headers">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>First level heading</td>
            <td><pre>=head1 Heading Text</pre></td>
            <td><h1>Heading Text</h1></td>
          </tr>
          <tr>
            <td>Second level heading</td>
            <td><pre>=head2 Heading Text</pre></td>
            <td><h2>Heading Text</h2></td>
          </tr>
          <tr>
            <td>Third level heading</td>
            <td><pre>=head3 Heading Text</pre></td>
            <td><h3>Heading Text</h3></td>
          </tr>
        </table>
      </div>

      <!-- reStructuredText Headers -->

      <div class="page rest headers">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>First level heading</td>
            <td><pre>Heading Text</pre><pre>============</pre></td>
            <td><h1>Heading Text</h1></td>
          </tr>
          <tr>
            <td>Second level heading</td>
            <td><pre>Heading Text</pre><pre>------------</pre></td>
            <td><h2>Heading Text</h2></td>
          </tr>
          <tr>
            <td>Third level heading</td>
            <td><pre>Heading Text</pre><pre>~~~~~~~~~~~~</pre></td>
            <td><h3>Heading Text</h3></td>
          </tr>
        </table>
      </div>

      <!-- Textile Headers -->

      <div class="page textile headers">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>First level heading</td>
            <td><pre>h1. Heading Text</pre></td>
            <td><h1>Heading Text</h1></td>
          </tr>
          <tr>
            <td>Second level heading</td>
            <td><pre>h2. Heading Text</pre></td>
            <td><h2>Heading Text</h2></td>
          </tr>
          <tr>
            <td>Third level heading</td>
            <td><pre>h3. Heading Text</pre></td>
            <td><h3>Heading Text</h3></td>
          </tr>
        </table>
      </div>

      <!-- Asciidoc Lists -->

      <div class="page asciidoc lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>* Item 1<span class="invisible">¬</span>
** Item 1.1<span class="invisible">¬</span>
* Item 2<span class="invisible">¬</span>
* Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <div class="ulist"><ul><li><p>Item 1</p><div class="ulist">
                <ul><li><p>Item 1.1</p></li></ul></div></li><li><p>Item 2</p>
                </li><li><p>Item 3</p></li></ul></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>. Item 1<span class="invisible">¬</span>
.. Item 1.1<span class="invisible">¬</span>
. Item 2<span class="invisible">¬</span>
. Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <div class="olist arabic"><ol class="arabic"><li><p>Item 1</p>
                <div class="olist loweralpha"><ol class="loweralpha"><li><p>
                Item 1.1</p></li></ol></div></li><li><p>Item 2</p></li><li>
                <p>Item 3</p></li></ol></div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Creole Lists -->

      <div class="page creole lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>* Item 1<span class="invisible">¬</span>
** Item 1.1<span class="invisible">¬</span>
* Item 2<span class="invisible">¬</span>
* Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1<ul><li>Item 1.1</li></ul></li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre># Item 1<span class="invisible">¬</span>
## Item 1.1<span class="invisible">¬</span>
# Item 2<span class="invisible">¬</span>
# Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Markdown Lists -->

      <div class="page markdown lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>* Item 1<span class="invisible">¬</span>
<span class="invisible">····</span>* Item 1.1<span class="invisible">¬</span>
* Item 2<span class="invisible">¬</span>
* Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1<ul><li>Item 1.1</li></ul></li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>1. Item 1<span class="invisible">¬</span>
<span class="invisible">····</span>1. Item 1.1<span class="invisible">¬</span>
2. Item 2<span class="invisible">¬</span>
3. Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Org Lists -->

      <div class="page org lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>- Item 1<span class="invisible">¬</span>
<span class="invisible">····</span>- Item 1.1<span class="invisible">¬</span>
- Item 2<span class="invisible">¬</span>
- Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>1. Item 1<span class="invisible">¬</span>
<span class="invisible">····</span>1. Item 1.1<span class="invisible">¬</span>
2. Item 2<span class="invisible">¬</span>
3. Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Pod Lists -->

      <div class="page pod lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>=over 4<span class="invisible">¬</span>
<span class="invisible">¬</span>
=item * Item 1<span class="invisible">¬</span>
<span class="invisible">¬</span>
=item * Item 2<span class="invisible">¬</span>
<span class="invisible">¬</span>
=item * Item 3<span class="invisible">¬</span>
<span class="invisible">¬</span>
=back</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1</li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>=over 4<span class="invisible">¬</span>
<span class="invisible">¬</span>
=item 1. Item 1<span class="invisible">¬</span>
<span class="invisible">¬</span>
=item 2. Item 2<span class="invisible">¬</span>
<span class="invisible">¬</span>
=item 3. Item 3<span class="invisible">¬</span>
<span class="invisible">¬</span>
=back</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1</li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- RDoc Lists -->

      <div class="page rdoc lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>* Item 1<span class="invisible">¬</span>
<span class="invisible">··</span>* Item 1.1<span class="invisible">¬</span>
* Item 2<span class="invisible">¬</span>
* Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1<ul><li>Item 1.1</li></ul></li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>1. Item 1<span class="invisible">¬</span>
<span class="invisible">···</span>1. Item 1.1<span class="invisible">¬</span>
2. Item 2<span class="invisible">¬</span>
3. Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- reStructuredText Lists -->

      <div class="page rest lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>* Item 1<span class="invisible">¬</span>
<span class="invisible">¬</span>
<span class="invisible">··</span>* Item 1.1<span class="invisible">¬</span>
<span class="invisible">¬</span>
* Item 2<span class="invisible">¬</span>
<span class="invisible">¬</span>
* Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1<ul><li>Item 1.1</li></ul></li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>1. Item 1<span class="invisible">¬</span>
<span class="invisible">¬</span>
<span class="invisible">···</span>1. Item 1.1<span class="invisible">¬</span>
<span class="invisible">¬</span>
2. Item 2<span class="invisible">¬</span>
<span class="invisible">¬</span>
3. Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Textile Lists -->

      <div class="page textile lists">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Unordered list</td>
            <td><pre>* Item 1<span class="invisible">¬</span>
<span class="invisible">····</span>* Item 1.1<span class="invisible">¬</span>
* Item 2<span class="invisible">¬</span>
* Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ul><li>Item 1<ul><li>Item 1.1</li></ul></li><li>Item 2</li>
                <li>Item 3</li></ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Ordered list</td>
            <td><pre>1. Item 1<span class="invisible">¬</span>
<span class="invisible">····</span>1. Item 1.1<span class="invisible">¬</span>
2. Item 2<span class="invisible">¬</span>
3. Item 3</pre></td>
            <td>
              <div class="wikistyle">
                <ol><li>Item 1<ol><li>Item 1.1</li></ol></li><li>Item 2</li>
                <li>Item 3</li></ol>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!--================================================================-->
      <!-- Math                                                           -->
      <!--================================================================-->

      <div class="page gollum math">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <th>Description</th>
            <th>What you type</th>
            <th>What you get</th>
          </tr>
          <tr>
            <td>Block</td>
            <td><pre>\[ \left( \sum_{k=1}^n a_k b_k \right)^2 \]</pre></td>
            <td><script type="math/tex; mode=display">\left( \sum_{k=1}^n a_k b_k \right)^2</script></td>
          </tr>
          <tr>
            <td>Inline</td>
            <td><pre>Consider \( x^2 + y^2 \).</pre></td>
            <td>Consider <script type="math/tex">x^2 + y^2</script>.</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>