<div class="write">
  <a href="/{{name}}">&laquo; Back</a>
  <h1>Editing &ldquo;{{name}}&rdquo;</h1>

  <form class="edit_wiki" method="post" action="/edit/{{name}}">
    <label>
      Body
      <textarea name="content">{{content}}</textarea>
    </label>
    <div class="actions">
      <input type="submit" value="Save page" />
    </div>
  </form>
</div>