<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Gollum - {{title}}</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/gollum.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" charset="utf-8" />
    <script src="/javascript/jquery-1.4.2.min.js" type="text/javascript" />
  </head>

  <body>
    <div id="main">
      <div class="site">
        <div id="guides">
          {{{yield}}}
        </div>
      </div>
    </div>
  </body>
</html>
