<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/template.css" media="all">

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="/css/ie7.css" media="all">
  <![endif]-->

  <script type="text/javascript" src="/javascript/jquery.js"></script>
  <script type="text/javascript" src="/javascript/gollum.js"></script>
  <script type="text/javascript" src="/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="/javascript/gollum.placeholder.js"></script>

  <script type="text/javascript" src="/javascript/ace/ace.js"></script>
  <script type="text/javascript" src="/javascript/ace/theme-solarized_dark.js"></script>
  <script type="text/javascript" src="/javascript/ace/mode-html.js"></script>
  <script type="text/javascript" src="/javascript/ace/mode-css.js"></script>
  <script type="text/javascript" src="/javascript/editor/gollum.editor.js"></script>

  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
</html>
