<div id="wiki-wrapper">
  <div id="head">
    <h1>Please Sign In...</h1>
  </div>
  <div id="wiki-content" class="login">
    <form method='post' action='/login'>
      <label for='login'>User:</label>
      <input type='text' id='login' name='login'/>
      <label for='password'>Password:</label>
      <input type='password' id='password' name='password'/>
      <button type='submit'>Sign In</button>
    </form>
  </div>
</div>
