<div class="guide">
  <div class="main">
    <div class="actions">
      <a href="/">Home</a> | <a href="/edit/{{name}}">Edit</a>
    </div>
    <h1>{{human_name}}</h1>
    <div class="wikistyle">
      {{{content}}}
    </div>
  </div>
</div>
