<div class="guide">
  <div class="main">
    <div class="actions">
      <form action="/search" method="get">
        <div>
          <a href="/">Home</a> | 
          <a href="/edit/{{escaped_name}}">Edit</a> | 
          <input type="search" name="q" size="10" /> <input type="submit" value="search" />
        </div>
      </form>
    </div>
    <h1>{{title}}</h1>
    <div class="content wikistyle gollum {{format}}">
      {{{content}}}
    </div>
    {{#has_footer}}
    <div class="footer wikistyle gollum {{footer_format}}">
      {{{footer_content}}}
    </div>
    {{/has_footer}}
  </div>
</div>
<div class="admin">
  <div style="float: left;">
    <small>Last edited by <b>{{author}}</b>, {{date}}</small>
    <div class="actions">
      <a href="/">Home</a> | <a href="/edit/{{escaped_name}}">Edit</a>
    </div>
  </div>
  <div style="float: right;">
    <a href="/history/{{escaped_name}}">View Revision History</a>
  </div>
</div>
