<div class="guide">
  <div class="main">
    <div class="actions">
      <form action="/search" method="get">
        <a href="/">Home</a> | <input type="search" name="q" size="10" /> <input type="submit" value="search" />
      </form>
    </div>
    <h1>Search for “{{query}}”</h1>
    <div class="content wikistyle gollum">
      {{#has_results}}
        <ul>
        {{#results}}
            <li><a href="/{{name}}">{{name}} ({{count}})</a></li>
        {{/results}}
        </ul>
      {{/has_results}}
    </div>
  </div>
</div>
