<div id="searchbar">
  <div id="searchbar-fauxtext">
    <input type="text" name="q" id="search-query">
    <a href="#" id="search-submit" title="Search this wiki">
      <span>Search</span>
    </a>
  </div>
</div>